nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0rem;
  flex-wrap: wrap;
}
.nav_logo {
  margin-left: 1.5rem;
}
.nav_logo h1 a {
  text-decoration: none;
  color: var(--secondary-clr);
  /* font-family: var(--logo-font); */
  /* text-shadow: 5px 5px 5px var(--secondary-clr-2); */
  font-size: 1.5rem;
}
.nav_links {
  display: none;
  width: 100%;
  background: var(--secondary-clr);
  padding: 2rem;
  margin-top: 1.01rem;
}
.nav_links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.nav_links li a {
  text-decoration: none;
  text-transform: capitalize;
  font-family: var(--nav-font);
  font-weight: 500;
  color: var(--primary-clr);
}
.nav_socials {
  display: none;
}
#nav_checkbox {
  display: none;
}
#nav_toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--secondary-clr);
  padding: 0.5rem;
  color: var(--secondary-clr);
  border-radius: 0.2rem;
  margin-right: 1rem;
}
.nav_toggle-close {
  display: none;
}
#nav_checkbox:checked ~ #nav_toggle .nav_toggle-close {
  display: inline-block;
}
#nav_checkbox:checked ~ #nav_toggle .nav_toggle-open {
  display: none;
}
#nav_checkbox:checked ~ .nav_links {
  display: block;
}

@media (width >=1000px) {
  nav {
    padding: 2rem 1.5rem;
    align-items: center;
  }
  .nav_logo {
    margin-left: 5rem;
  }
  #nav_toggle {
    display: none;
  }
  .nav_links {
    display: block;
    width: auto;
    background: transparent;
    padding: 0rem;
    margin-top: 0rem;
  }
  .nav_links ul {
    flex-direction: row;
    align-items: center;
    column-gap: 2.5rem;
    font-weight: 800;
    color: var(--secondary-clr);
  }
  .nav_links ul li a {
    color: inherit;
    font-size: 1.1rem;
  }
  .nav_links ul li a:hover {
    border-bottom: 1px solid var(--accent-clr);
  }
  .nav_socials {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    font-size: 1.5rem;
    margin-right: 7rem;
  }
  .nav_socials a {
    color: var(--secondary-clr);
    text-decoration: none;
  }
}
